WEB_PROCESSES=1
WEB_THREADS=10
WORKER_COUNT=1
DEBUG=False
LOG_LEVEL=INFO
APP_CODE=chatgpt-api
APP_SECRET=<Unmodifiable after generation>
ALLOWED_HOSTS=api.example.com
BACKEND_URL=https://api.example.com
FRONTEND_URL=https://example.com
CORS_ORIGIN_WHITELIST=https://example.com
DB_NAME=chatgpt_api
DB_USER=chatgpt_api
DB_PASSWORD=<DB Password>
DB_HOST=<DB Host>
DB_PORT=3306
REDIS_HOST=<Redis Host>
REDIS_PORT=6379
REDIS_PASSWORD=<Redis Password>
REDIS_DB=0
SESSION_COOKIE_DOMAIN=.example.com
OVINC_WEB_URL=<Contact us to obtain>
OVINC_API_DOMAIN=<Contact us to obtain>
QCLOUD_SECRET_ID=<Tencent Cloud SecretID>
QCLOUD_SECRET_KEY=<Tencent Cloud SecretKey>
QCLOUD_COS_URL=https://cos.example.com
QCLOUD_COS_BUCKET=example-cos-12345678
DJANGO_SETTINGS_MODULE=entry.settings
WXPAY_ENABLED=0
WXPAY_PRIVATE_KEY_SERIAL_NO=<WeChat Pay Certificate Serial Number>
WXPAY_PRIVATE_KEY_PATH=<WeChat Pay Private Key Path>
WXPAY_APP_ID=<WeChat Pay App ID>
WXPAY_MCHID=<WeChat Pay Merchant ID>
WXPAY_API_V3_KEY=<WeChat Pay V3 API Key>
WXPAY_NOTIFY_URL=<WeChat Pay Callback URL>
WXPAY_UNIT=<WeChat Pay Settlement Unit>