# ovinc
ovinc-client==0.2.4

# Celery
celery==5.2.2

# Server
uwsgi==2.0.22

# Datetime
arrow==1.2.3

# RSA
pycryptodome==3.19.1

# Profile
pyinstrument==4.4.0

# OpenAI
openai==1.12.0
tiktoken==0.4.0
pillow==10.3.0

# Gemini
google-generativeai==0.3.2
google_api_core==2.15.0
google-ai-generativelanguage==0.4.0

# Baidu
qianfan==0.3.0

# Hunyuan
tencentcloud-sdk-python==3.0.1137
