# ovinc
ovinc-client==0.3.0b1

# channel
channels_redis==4.2.0

# Celery
celery==5.2.2

# Server
gunicorn==22.0.0
uvicorn-worker==0.2.0
uvicorn==0.30.1
websockets==12.0

# Datetime
arrow==1.2.3

# RSA
pycryptodome==3.19.1

# Profile
pyinstrument==4.4.0

# OpenAI
openai==1.12.0
tiktoken==0.7.0
pillow==10.3.0

# Gemini
google-generativeai==0.3.2
google_api_core==2.15.0
google-ai-generativelanguage==0.4.0

# Baidu
qianfan==0.3.0

# Hunyuan
tencentcloud-sdk-python==3.0.1137

# Aliyun
dashscope==1.19.1

# COS
cos-python-sdk-v5==1.9.29
