# ovinc
ovinc-client==0.3.13

# Celery
celery==5.4.0

# Async
asgiref==3.8.1
channels[daphne]==4.1.0
channels_redis==4.2.0

# Server
gunicorn==22.0.0
uvicorn-worker==0.2.0
uvicorn==0.30.1
websockets==12.0

# Datetime
arrow==1.2.3

# RSA
pycryptodome==3.20.0

# OpenAI
openai==1.56.1
tiktoken==0.8.0
pillow==10.3.0

# Hunyuan
tencentcloud-sdk-python==3.0.1279

# COS
cos-python-sdk-v5==1.9.29
qcloud-python-sts==3.1.5

# qrcode
qrcode==7.4.2

# claude
anthropic==0.40.0
